@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600');

text {
  font-family:'Fira Sans';
  font-style:normal;
  fill: #371ea3;
}

.bigTitle {
  font-family:'Fira Sans';
  font-style:normal;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}

.smallTitle {
  font-family:'Fira Sans';
  font-style:normal;
  font-weight: 700;
  font-size: 13px;
  text-align: left;
}

.axisTitle {
  font-family:'Fira Sans';
  font-style:normal;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
}

.axisLabel {
  font-family:'Fira Sans';
  font-style:normal;
  font-weight: 500;
  font-size: 11px;
}

.axisLabel .domain {
    stroke: #371ea3;
}

.legendTitle {
  font-family:'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-align: left;
}

.legendLabel {
  font-family:'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  text-align: left;
}

.legendBox {
  fill: #ceced9;
  opacity: 0.5;
}

.interceptLine {
  stroke: #371ea3;
	stroke-width: 1px;
	stroke-opacity: 1;
	stroke-linecap: "butt";
}

.dotLine {
	fill: none;
	stroke: #371ea3;
	stroke-width: 0.7px;
}

.grid .tick line {
  /*stroke: #f0f0f4;*/
  stroke: #ceced9;
  opacity: 0.5;
  stroke-width: 1px
}

.mainTitle {
  font-family:'Fira Sans';
  font-style: normal;
  font-size: 25px;
  font-weight: 500;
}

.mainLine {
  stroke: #371ea3;
  stroke-width: 1.5px;
  stroke-opacity: 1;
  stroke-linecap: butt;
}

.enterChoiceButton {
  fill: #ceced9;
  opacity: 0.5;
  stroke:#371ea3;
  stroke-width:2;
}

.exitChoiceButton {
  fill: #FFFFFF;
  stroke:#371ea3;
  stroke-width:2;
}

.descriptionBox {
  fill: #ceced9;
  opacity: 0.5;
}

.descriptionLabel {
  font-family:'Fira Sans';
  font-style: normal;
  fill: #371ea3;
  font-weight: 700;
  font-size: 14px;
}
