inst/d3js/modelStudio.js linguist-vendored=false

docs/* linguist-documentation
man/* linguist-documentation
misc/* linguist-documentation
tests/testthat/test_warnings_and_errors.R linguist-documentation
