inst/d3js/modelStudio.js linguist-vendored=false

tests/testthat/test_warnings_and_errors.R linguist-documentation

docs/* linguist-documentation
man/* linguist-documentation
misc/* linguist-documentation
pkgdown/* linguist-documentation
pkgdown/favicon/*.html linguist-documentation

**.html linguist-documentation
**.htm linguist-documentation
